<div class="span9">
    <div >
        <h2>{{phoneList.title}}</h2>
        <input type="text" ng-model="search">
        <div class="row-fluid">
            <div class="span4 item" ng-repeat="phone in phoneList.phones | filter: search">
                <div class="preview-img text-center">
                    <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/>
                <span class="label"
                      ng-init="status = phone.status ? 'done' : 'no'"
                      ng-class="{'label-success':phone.status, 'label-warning': !phone.status}">
                  {{status}}
                </span>
                </div>
                <h2>{{phone.name}}</h2>
                <p>{{phone.snippet}}</p>
                <p><a class="btn btn-default" href="#/phones/{{phone.id}}" role="button">View details &raquo;</a></p>
            </div><!--/.col-sm-6.col-lg-4-->
        </div>
    </div>
</div>